# Dependencies
node_modules

# Frontend build output
dist
build
.vite
coverage

# Tauri build output
src-tauri/target

# Local environment files
.env
.env.local

# Local database files
*.db
*.db-shm
*.db-wal

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/*
!.vscode/extensions.json
.idea
